services:
  services:
  jenkins:
    build: 
      context: ./ci-server
    user: root
    privileged: true
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./ci-server:/ci-server
    ports:
      - "8081:8080"
      - "50000:50000"
    networks:
      - cicd-net

  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions
    networks:
      - cicd-net

volumes:
  jenkins_home:
  sonar_data:
  sonar_extensions:

networks:
  cicd-net:
    driver: bridge