
.pokemon-card {
    width: 160px;
    max-width: 160px;
    border-radius: 16px;
    padding: 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    border: 3px solid transparent;
    background: #fff;
    transition: transform 0.25s, box-shadow 0.25s;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


.pokemon-header {
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.pokemon-img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.pokemon-name {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.pokemon-id {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.pokemon-types {
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.pokemon-type-badge {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.fav-btn {
    margin-top: 12px;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background: #eee;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s, transform 0.15s;
}

.fav-btn:hover {
    background: #ddd;
}

.fav-active {
    background: #ff3b3b;
    color: white;
}




