.splash-screen {
    position: fixed;
    inset: 0;
    background: #ef5350;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.4s ease-out;
}

.splash-screen.fade-out {
    opacity: 0;
}

.splash-logo {
    width: 140px;
    animation: pop 0.6s ease-out;
}

.splash-title {
    color: white;
    font-size: 32px;
    margin-top: 16px;
    animation: fade 1s ease-in-out;
}

@keyframes pop {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}